# exclude file extensions
*.webprj
*.session
*.bak
*~
*.sav
*.tmp
*.lst
*.log
*.backup
*.blg
*.brf
*.out
*.eml
*0.sas
*.DS_Store
# special files
tags
Distfile
.texlipse
.project
.directory
# exclude directories
Test/
Old/
.svn/
.notes/
notes/
